.iniciar-sesion-card  {
  width: 450px;
  height: 550px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.form{
  width : 100%;
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
}

.input{
  margin-top: 10%;
  width : 70%;
}

.logo{
  width :150px;
  margin-left: auto;
  margin-right: auto;
}

.registrarse{
  color:black;
  text-decoration:none;
  width:30px;
  text-align:center;
}
.registrarse:hover{
  color:rgba(0, 0, 0, 0.623);
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .iniciar-sesion-card{
    width: 210px;
    height: 450px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .iniciar-sesion-card{
    width: 300px;
    height: 500px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .iniciar-sesion-card{
    width: 450px;
    height: 550px;
    margin-left: auto;
    margin-right: auto;
  }
}
